@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body {
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.robot {
  font-family: "Roboto Slab", serif;
  /* background-color: rebeccapurple; */
}
